seed: 0
seed_start: 0
seed_end: 1

defaults:
  - _self_
  - model: sac
  - train: sac
  - env: pick_and_delivery/grid

hydra:
  run:
    dir: results/${env.env_name}/${env.name}_${env.obs_type}/n${env.num_agents}_level${env.level}/${model.name}_${now:%Y-%m-%d_%H-%M-%S}